In [129]:
import pandas as pd

In [151]:
students = pd.read_csv('../data/2023/mac115/bloco0_1.csv')
students.columns = students.columns.str.strip()
students = students.loc[:,['student_id','student_name']]

# bloco 0
students['bloco0_1'] = 0
students['bloco0_2'] = 0

# bloco 1
students['bloco1_1'] = 0
students['bloco1_2'] = 0
students['bloco1_3'] = 0

# bloco 2
students['bloco2_1'] = 0
students['bloco2_2'] = 0
students['bloco2_3'] = 0
students['bloco2_4'] = 0

In [174]:
def computa_notas(arquivo):
    data = pd.read_csv('../data/2023/mac115/'+arquivo+'.csv')

    # remove espaços das colunas colunas
    data.columns = data.columns.str.strip()

    activity_columns = []
    for column in data.columns:
        if 'status_activity' in column:
            activity_columns.append(column)

    keep_columns = ['student_id','student_name'] + activity_columns

    data = data.loc[:,keep_columns]
    data[arquivo] = 0

    for index, row in data.iterrows():
        for activity_column in activity_columns:
            if data.loc[index,activity_column] == 'correct':
                data.loc[index,arquivo] = data.loc[index,arquivo] + 1

    ## copy to students dataframe
    for index, row in data.iterrows():
        students.loc[students['student_id'] == row['student_id'],arquivo] = row[arquivo]

arquivos = ['bloco0_1','bloco0_2','bloco1_1','bloco1_2','bloco1_3','bloco2_1','bloco2_2','bloco2_3','bloco2_4']
for arquivo in arquivos:
    computa_notas(arquivo)

In [186]:
students['total'] = students.loc[:,arquivos].sum(axis=1)
students['porcentagem'] = 100*(students['total']/33)

In [187]:
students.sort_values("porcentagem", ascending=False)

,student_id,student_name,bloco0_1,bloco0_2,bloco1_1,bloco1_2,bloco1_3,bloco2_1,bloco2_2,bloco2_3,bloco2_4,total,porcentagem
103,9934,Thiago Gomes Verissimo,7,1,5,4,4,4,3,2,3,33,100.000000
56,10164,Larissa Valeriano Ribeiro,7,1,5,4,4,4,3,1,3,32,96.969697
105,9916,Tiphani Gabrielli Santana da Costa,7,1,5,4,4,4,3,1,3,32,96.969697
104,10112,Thiago Souza da Silva,7,1,5,4,4,4,3,1,3,32,96.969697
100,9915,Tatiane Santantonio Silles,7,1,5,4,1,4,3,1,3,29,87.878788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,10159,Gabriel Rodrigues do Nascimento,0,0,0,0,0,0,0,0,0,0,0.000000
78,8063,Nelson Lago,0,0,0,0,0,0,0,0,0,0,0.000000
27,10130,Fernanda Caroline Cavalcante Conrado,0,0,0,0,0,0,0,0,0,0,0.000000
80,10166,Nicolas Vinicio dos Santos Silva,0,0,0,0,0,0,0,0,0,0,0.000000
107,10135,Vinicius Facalha Silva,0,0,0,0,0,0,0,0,0,0,0.000000