In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns',100) # VER todas colunas

df = pd.read_csv('data/nhanes_2015_2016.csv')
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [5]:
# Criar duas novas colunas com o min e max das colunas:
# BPXSY1 BPXDI1 BPXSY2 BPXDI2 BMXWT BMXHT BMXBMI BMXLEG BMXARML BMXARMC BMXWAIST
cols=['BPXSY1','BPXDI1','BPXSY2','BPXDI2','BMXWT','BMXHT','BMXBMI','BMXLEG','BMXARML','BMXARMC','BMXWAIST']

def min_max(row):
    data = row[cols]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

df.apply(min_max,axis='columns').head()

    min    max
0  27.8  184.5
1  30.8  171.4
2  28.8  170.1
3  37.7  160.9
4  20.3  164.9

In [7]:
def min_max(row):
    data = row[cols]
    row['min'] = np.min(data)
    row['max'] = np.max(data)
    return row

df.apply(min_max,axis='columns').head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210,min,max
0,83732.0,1.0,NaN,1.0,1.0,1.0,62.0,3.0,1.0,5.0,1.0,2.0,134671.37,1.0,125.0,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0,27.8,184.5
1,83733.0,1.0,NaN,6.0,1.0,1.0,53.0,3.0,2.0,3.0,3.0,1.0,24328.56,1.0,125.0,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN,30.8,171.4
2,83734.0,1.0,NaN,NaN,1.0,1.0,78.0,3.0,1.0,3.0,1.0,2.0,12400.01,1.0,131.0,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0,28.8,170.1
3,83735.0,2.0,1.0,1.0,2.0,2.0,56.0,3.0,1.0,5.0,6.0,1.0,102718.00,1.0,131.0,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0,37.7,160.9
4,83736.0,2.0,1.0,1.0,2.0,2.0,42.0,4.0,1.0,4.0,3.0,5.0,17627.67,2.0,126.0,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0,20.3,164.9

In [8]:
# lambdas
df.apply(lambda x: np.min(x[cols]),axis='columns').head()

0    27.8
1    30.8
2    28.8
3    37.7
4    20.3
dtype: float64