In [3]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns',100) # VER todas colunas

df = pd.read_csv('data/nhanes_2015_2016.csv')
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [32]:
boolean_mask = df['BMXBMI']>50
boolean_mask

0       False
1       False
2       False
3       False
4       False
        ...
5730    False
5731    False
5732    False
5733    False
5734    False
Name: BMXBMI, Length: 5735, dtype: bool

In [33]:
df.where(boolean_mask)

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.where(boolean_mask).dropna()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
1465,86212.0,2.0,1.0,1.0,1.0,2.0,32.0,1.0,1.0,3.0,4.0,4.0,31115.35,1.0,124.0,0.25,130.0,60.0,126.0,68.0,148.2,156.2,60.7,37.0,37.3,50.7,146.7,1.0
3222,89275.0,2.0,1.0,1.0,1.0,2.0,67.0,2.0,1.0,2.0,2.0,1.0,8294.64,1.0,127.0,1.02,166.0,78.0,168.0,62.0,141.9,157.5,57.2,28.0,36.0,46.0,151.0,1.0
3567,89862.0,2.0,1.0,1.0,1.0,2.0,60.0,4.0,1.0,4.0,1.0,2.0,22870.52,2.0,130.0,3.06,132.0,58.0,132.0,60.0,133.6,157.0,54.2,36.5,39.8,48.1,141.8,2.0
4192,90982.0,2.0,1.0,2.0,2.0,2.0,62.0,1.0,1.0,3.0,4.0,3.0,9845.73,1.0,127.0,2.01,122.0,64.0,130.0,68.0,123.6,154.7,51.6,34.0,38.5,50.2,138.4,2.0

In [36]:
df[df['BMXBMI']>50].dropna() # igual: df.where(boolean_mask).dropna()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
1465,86212,2.0,1.0,1.0,1,2,32,1,1.0,3.0,4.0,4,31115.35,1,124,0.25,130.0,60.0,126.0,68.0,148.2,156.2,60.7,37.0,37.3,50.7,146.7,1.0
3222,89275,2.0,1.0,1.0,1,2,67,2,1.0,2.0,2.0,1,8294.64,1,127,1.02,166.0,78.0,168.0,62.0,141.9,157.5,57.2,28.0,36.0,46.0,151.0,1.0
3567,89862,2.0,1.0,1.0,1,2,60,4,1.0,4.0,1.0,2,22870.52,2,130,3.06,132.0,58.0,132.0,60.0,133.6,157.0,54.2,36.5,39.8,48.1,141.8,2.0
4192,90982,2.0,1.0,2.0,2,2,62,1,1.0,3.0,4.0,3,9845.73,1,127,2.01,122.0,64.0,130.0,68.0,123.6,154.7,51.6,34.0,38.5,50.2,138.4,2.0

In [37]:
df[["RIAGENDR","RIDAGEYR"]]

      RIAGENDR  RIDAGEYR
0            1        62
1            1        53
2            1        78
3            2        56
4            2        42
...        ...       ...
5730         2        76
5731         1        26
5732         2        80
5733         1        35
5734         2        24

[5735 rows x 2 columns]

In [40]:
boolean_mask_combined = (df['BMXBMI'] > 50) & (df['RIDAGEYR'] > 50)

In [41]:
df.where(boolean_mask_combined).dropna()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
3222,89275.0,2.0,1.0,1.0,1.0,2.0,67.0,2.0,1.0,2.0,2.0,1.0,8294.64,1.0,127.0,1.02,166.0,78.0,168.0,62.0,141.9,157.5,57.2,28.0,36.0,46.0,151.0,1.0
3567,89862.0,2.0,1.0,1.0,1.0,2.0,60.0,4.0,1.0,4.0,1.0,2.0,22870.52,2.0,130.0,3.06,132.0,58.0,132.0,60.0,133.6,157.0,54.2,36.5,39.8,48.1,141.8,2.0
4192,90982.0,2.0,1.0,2.0,2.0,2.0,62.0,1.0,1.0,3.0,4.0,3.0,9845.73,1.0,127.0,2.01,122.0,64.0,130.0,68.0,123.6,154.7,51.6,34.0,38.5,50.2,138.4,2.0

In [42]:
boolean_mask_combined = df['BMXBMI'].gt(50) & df['RIDAGEYR'].gt(50)
df.where(boolean_mask_combined).dropna()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
3222,89275.0,2.0,1.0,1.0,1.0,2.0,67.0,2.0,1.0,2.0,2.0,1.0,8294.64,1.0,127.0,1.02,166.0,78.0,168.0,62.0,141.9,157.5,57.2,28.0,36.0,46.0,151.0,1.0
3567,89862.0,2.0,1.0,1.0,1.0,2.0,60.0,4.0,1.0,4.0,1.0,2.0,22870.52,2.0,130.0,3.06,132.0,58.0,132.0,60.0,133.6,157.0,54.2,36.5,39.8,48.1,141.8,2.0
4192,90982.0,2.0,1.0,2.0,2.0,2.0,62.0,1.0,1.0,3.0,4.0,3.0,9845.73,1.0,127.0,2.01,122.0,64.0,130.0,68.0,123.6,154.7,51.6,34.0,38.5,50.2,138.4,2.0