## Teste de qui-quadrado para avaliar a associação entre duas variáveis qualitativas

### 1 - Tabela de contigência com as observações

In [8]:
import pandas as pd 
frequencias_observadas = pd.DataFrame([
    ['empresaA', 40, 16, 12], 
    ['empresaB', 32, 34, 16], 
    ['empresaC', 24, 32, 4]], 
    columns = ['empresa','ruim', 'medio','bom'])
frequencias_observadas = frequencias_observadas.set_index('empresa')
frequencias_observadas

          ruim  medio  bom
empresa
empresaA    40     16   12
empresaB    32     34   16
empresaC    24     32    4

### 2 - Tabela com as frequências absolutas esperadas

Cada célula corresponde a soma da linha pela soma da coluna divido por N

In [55]:
# empty data frame
frequencias_absolutas_esperadas = pd.DataFrame().reindex_like(frequencias_observadas)

linhas = len(frequencias_observadas.index)
colunas = len(frequencias_observadas.columns)
for linha in range(linhas):
    for coluna in range(colunas):
        frequencias_observadas.iloc[linha,coluna]